*{
  margin: 0;
  padding: 0;
}

header, main, footer{
  border: 1px solid black;
  margin: 3px;
}

.altura-header{
  height: 10vh;
  position: fixed;
  width: 100vw;
}

.altura-main{
  height: 100vh;
  position: absolute;
  top: 11vh;
  width: 100vw;
}

.altura-footer{
  height: 10vh;
  position:absolute;
  top: 100vh;
  width:100vw ;
}

